@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body {
            background-color: rgb(30, 24, 32);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            font-family: 'Montserrat';
        }
        
        .text-title {
            color: white;
            align-self: center;
        }
        
        .container-top { 
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            width: 56rem;
        }
        .container-top img {
            width: 1.4rem;
            margin-left: 10px;
            align-self: center;
        }
        
        .right-area {
            display: flex;
        }
        .right-area .player {
            display: flex;
        }
        
        .player-1 h3 {
            align-self: center;
            font-size: 14px;
            font-weight: bold;
            color: red;
        }
        
        .player-2 h3 {
            align-self: center;
            font-size: 14px;
            font-weight: bold;
            color: cyan;
        }
        
        .player-1 p, .player-2 p {
            margin-right: 5px;
            align-self: center;
            margin-left: 10px;
            font-size: 16px;
            color: white;
            font-weight: bolder;
        }
        
        .container {
            display: flex;
            margin-top: 10px;
        }
        .board-area {
            width: 615px;
            /* height: 533px; */
            border: 1px solid white;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 1rem;
            padding-bottom: 1.5rem;
            display: flex;
            flex-direction: column;
        }
        .game-board {
            float: left;
        }
        
        .current-hex {
            align-self: center;
            margin-top: 1.3rem;
        }
        
        .hex-row {
            clear: left;
        }
        .even {
            margin-left: 27px;
        }
        .hexagon {
            float: left;
            margin-left: 3px;
            margin-bottom: -13px;
        }
        .hexagon:hover:not(.disabled) {
            cursor: pointer;
            .top {
                border-bottom: 15px solid rgba(229, 228, 228, 0.683);
            }
            .main{
                background-color: rgba(229, 228, 228, 0.683);
            }
            .bottom{
                border-top: 15px solid rgba(229, 228, 228, 0.683);
            }
        }
        .top {
            width: 0;
            border-bottom: 15px solid rgba(229, 228, 228, 0.393);
            border-left: 26px solid transparent;
            border-right: 26px solid transparent;
        }
        
        
        .main {
            width: 52px;
            height: 30px;
            background-color: rgba(229, 228, 228, 0.393);
            font-weight: bold;
            text-align: center;
        
        }
        
        
        .bottom {
            width: 0;
            border-top: 15px solid rgba(229, 228, 228, 0.393);
            border-left: 26px solid transparent;
            border-right: 26px solid transparent;
        }
        
        
        .player1 .main {
            background-color: red;
            
        }
        .player2 .main {
            background-color: cyan;
        }
        
        .leaderboard-area {
            width: 280px;
            border: 1px solid white;
            padding: 1rem;
            color: white;
        }
        
        .leaderboard-details {
            padding: 1rem 0;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
        }
        .leaderboard-title {
            color: white;
            text-align: center;
            font-size: 1rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        
        .players-name {
            font-size: 12px;
            font-weight: 200;
        }
        .score-details {
            display: flex;
            justify-content: space-between;
            margin-top: 3px;
        }
        .score {
            font-size: 1rem;
            font-weight: 600;
        }
        .btn-leaderboard {
            padding: 2px 10px;
        }
        
        .disabled .main {
            background-color: rgba(25, 18, 18, 0.781);
        }
        .disabled .top {
            border-bottom: 15px solid rgba(25, 18, 18, 0.781);
        }
        .disabled .bottom {
            border-top: 15px solid rgba(25, 18, 18, 0.781);
        }